<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.mapper.ExamMapper">

    <insert id="insert" parameterType="exam">
        INSERT INTO `exam`.`exam`(`examName`, `startTime`, `endTime`, `teaNumber`, `examPath`, `isAuto`, `state`,`classID`,`isManager`)
        VALUES (#{examName}, #{startTime},#{endTime}, #{teaNumber},#{examPath}, #{isAuto}, #{state},#{classID},#{isManager})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM `exam`.`exam` WHERE `examID` = #{examID}
    </delete>

    <update id="modify" parameterType="exam">
        UPDATE `exam`.`exam`
        SET `examName` = #{examName},
            `startTime` = #{startTime},
            `endTime` = #{endTime},
            `teaNumber` = #{teaNumber},
            `examPath` = #{examPath},
            `isAuto` = #{isAuto},
            `state` = #{state},
            `classID` = #{classID},
             `isManager` = #{isManager},
             `pack` = #{pack}
        WHERE `examID` = #{examID}
    </update>

    <select id="queryExamsByTeaNumber" resultType="exam">
        SELECT exam.examID,exam.examName,exam.startTime,exam.endTime,exam.teaNumber,exam.examPath,exam.isAuto,exam.state,exam.classID
        FROM exam
        WHERE   exam.teaNumber = #{teaNumber}
        ORDER BY exam.examID ASC
    </select>

    <select id="queryExamsByTeaNumberState" resultType="exam">
        SELECT exam.examID,exam.examName,exam.startTime,exam.endTime,exam.teaNumber,exam.examPath,
                exam.isAuto,exam.state,exam.classID,exam.isManager,exam.pack
        FROM exam
        WHERE   exam.teaNumber = #{teaNumber}
        AND exam.state = #{state}
        ORDER BY exam.examID ASC
    </select>

    <select id="queryExamsById" parameterType="Integer" resultType="exam">
        SELECT exam.examID,exam.examName,exam.startTime,exam.endTime,exam.teaNumber,exam.examPath,
                exam.isAuto,exam.state,exam.classID,exam.isManager,exam.pack
        FROM exam
        WHERE   exam.examID = #{examID}
    </select>

    <update id="updateState">
        UPDATE `exam`.`exam`
        SET `state` = #{state}
        WHERE `examID` = #{examID}
    </update>

    <select id="getExamsByState" resultType="exam">
        SELECT exam.examID,exam.examName,exam.startTime,exam.endTime,exam.teaNumber,exam.examPath,
                exam.isAuto,exam.state,exam.classID,exam.isManager,exam.pack
        FROM exam
        WHERE exam.state = #{state}
        ORDER BY exam.examID ASC
    </select>


    <select id="getExamsForAllStates" resultType="exam">
        SELECT exam.examID,exam.examName,exam.startTime,exam.endTime,exam.teaNumber,exam.examPath,
                exam.isAuto,exam.state,exam.classID,exam.isManager,exam.pack
        FROM exam
        WHERE exam.state = #{state} AND exam.isManager = #{isManager}
        ORDER BY exam.examID ASC
    </select>

    <update id="updateExamById" parameterType="exam">
        UPDATE `exam`.`exam`
        <set>
            <if test="examName != null">`examName` = #{examName},</if>
            <if test="startTime != null">`startTime` = #{startTime},</if>
            <if test="endTime != null">`endTime` = #{endTime},</if>
            <if test="teaNumber != null">`teaNumber` = #{teaNumber},</if>
            <if test="examPath != null">`examPath` = #{examPath},</if>
            <if test="isAuto != null">`isAuto` = #{isAuto},</if>
            <if test="state != null">`state` = #{state},</if>
            <if test="classID != null">`classID` = #{classID},</if>
            <if test="isManager != null">`isManager` = #{isManager},</if>
            <if test="pack != null">`pack` = #{pack},</if>
        </set>
        WHERE `examID` = #{examID}
    </update>


</mapper>