<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.mapper.TeacherMapper">

    <select id="getByIsAdmin" resultType="teacher">
        SELECT  teacher.teaNumber,teacher.teaID,teacher.teaName,teacher.isadmin
        FROM    teacher
        WHERE   teacher.isadmin = #{isadmin}
    </select>

    <select id="getTeachers" resultType="teacher">
        SELECT teacher.teaID,teacher.teaNumber,teacher.teaName,teacher.isadmin
        FROM teacher
    </select>

    <select id="getTeacherById" resultType="teacher">
        SELECT teacher.teaID,teacher.teaNumber,teacher.teaName,teacher.isadmin
        FROM teacher
        WHERE teacher.teaID=#{teaID}
    </select>

    <select id="getTeacherByTeaNumber" resultType="teacher">
        SELECT teacher.teaID,teacher.teaNumber,teacher.teaName,teacher.isadmin
        FROM teacher
        WHERE teacher.teaNumber=#{teaNumber}
    </select>

    <insert id="insertTeacher" parameterType="teacher">
        INSERT INTO `exam`.`teacher`(`teaNumber`, `teaName`, `isadmin`)
        VALUES (#{teaNumber}, #{teaName},#{isadmin})
    </insert>

    <update id="updateTeacherByID" parameterType="teacher">
        UPDATE `exam`.`teacher`
        SET `teaNumber` = #{teaNumber}, `teaName` =#{teaName}, `isadmin` = #{isadmin}
        WHERE `teaID` = #{teaID}
    </update>

    <delete id="deleteByteaNumber" parameterType="String">
       DELETE FROM `exam`.`teacher` WHERE `teaNumber` = #{teaNumber}
    </delete>
</mapper>