<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exam.mapper.UsersMapper">
    <select id="getUserByName" parameterType="String" resultType="com.exam.domain.User">
       	SELECT	
       		`user`.userID,`user`.username,`user`.`password`,`user`.type
		FROM
			`user`
		where
			`user`.username=#{username}
    </select>
    
    <select id="getUser" parameterType="com.exam.domain.User" resultType="com.exam.domain.User">
       	SELECT	
       		user.*
		FROM
			user
		where
			user.username=#{user.username}
		AND
			user.password=#{user.password}
		AND
			user.type=#{user.type}
    </select>
</mapper>